<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="completed.css">
    <title>Completed_Todos</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
           <div class="left">
            <img src="#" alt="" class="logo">
            <h3><span class="s1">To</span>
                <span class="s2">~</span>
                <span class="s3">Do</span>
                <span class="s4">~</span>
                <span class="s5">List</span>
                <span class="s6">~</span>
                <span class="s7">App</span>
            </h3>
           </div>
            <ul>
               <li><a href="locallhost">logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="body">
        <h1>Completed Todo List</h1>
        <button class="btn"><a href="create1.html">Add New</a></button>
    </div>
</body>
</html>