<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Create_new_todo</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
           <div class="left">
            <img src="#" alt="" class="logo">
            <h3><span class="s1">To</span>
                <span class="s2">~</span>
                <span class="s3">Do</span>
                <span class="s4">~</span>
                <span class="s5">List</span>
                <span class="s6">~</span>
                <span class="s7">App</span>
            </h3>
           </div>
            <ul>
               <li> <a href="locallhost">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="body">
        <h1>New Todo</h1>
        <form class="login" action="">
           <div class="form-content">
            <label for="">Title:
                <input type="text" class="input" placeholder="Please input the title of your toodo" required>

                <label for=""> Date:
                    <input type="datetime-local" id="date" name="date"></label><br> 


            </label><br>
          
            <label for="">Memo:
                <textarea name="" id="" cols="30" rows="8" class="memo" placeholder="Please input your password"></textarea>
            </label><br>
           
        </div>
        
        </form>
        <button class="submit" onclick="mainfun()" type="submit">save</button>
    </div>
 
</body>
<script src="script.js"></script>
</html>